@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Indie Flower', cursive;
  color: #000000;

}

section{
  margin: 50px auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.logo-img{
  filter: brightness(0);
  opacity: 50%;
}

.bar {
  position: fixed;
  top: 50%;
  right: 50%;
  width: 500px;
  height: 300px;
  transform: translate(50%, -50%);
  transition: 1s all;
}

.foo {
  animation: foo;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 50px;
  transition: 0.5s all;
}

.scroll{
  width: 100%;
  height: 1000px;
  scroll-behavior: smooth;
}